<div class="card text-bg-info mb-3" style="max-width: 30rem;">
    <h1> Student Response </h1>
    
    <p> <strong>Student name:</strong> <%= @name %> </p>
    <p> <strong>Student Age:</strong> <%= @age %> </p>
    <p> <strong>Student Email:</strong> <%= @email %> </p>
    <p> <strong>Student Learning Mode:</strong> <%= @learning_mode %> </p>
    <p> <strong>Student Favorite color:</strong> <%= @favourite_color %> </p>
    <p> <strong>Student hobby:</strong> <%= @hobby %> </p>
    <p> <strong>Student subscription option:</strong> <%= @subscription %> </p>
    
    <a href="/">One more response</a>
</div>
